{% extends "base.html" %}
{% block title %} IL Help desk portal {% endblock %}
{% block content %}
<p>
    Image Life (Pty) Ltd is an ICT Solution System Developers and Branding Consultants
    providing world-class quality services and have been operating in Botswana since 2009.
    We provide intelligent and powerful database driven applications for both Educational
    Institutions and Business Enterprises.
</p>
{% endblock %}

{% block footer %}
<p>created by Image Life support team.</p>
{% endblock %}